aside{
    width: 250px;
    float: left;
}
.gallery li {
    
    list-style: none;
    width: 150px;
    min-height: 175px;
    float: left;
    margin: 0 10px 10px 0;
    text-align: center;
}
img{
    width: 350px;
    height:  200px;
    float: left;
    margin: 0 10px 10px 0;
    
}
